<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Please sign in</title>
  </head>
  <body>
      <div th:replace="fragments/header :: header"></div>
      <form class="signin" method="post" action="/login">
            <h2>Please sign in</h2>
            <h2>Username</h2>
            <input type="text" name="username" placeholder="Username" required="" autofocus=""/>
            <h2>Password</h2>
            <input type="password" name="password" placeholder="Password" required=""/>
            <input type="submit" value="Log in"/>
      </form>
</body></html>
