<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Friends</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
                
        <div th:replace="fragments/header :: header"></div>
        <form method="POST" th:action="@{/friends}">
            <h2>Username</h2>
            <input type="text" name="name"/>
            <input type="submit" value="search"/>
        </form>
        <div th:if="${searchresult != null}">
            <div>
                <a th:href="@{/profile/{searchresult.path}
                   (searchresult.path=${searchresult.path})}" 
                   th:text="${searchresult.name}">
                    searchresult
                </a>
            </div>
            <div>
                <form method="POST" th:action="@{/friends/add/{searchresult.name}
                   (searchresult.name=${searchresult.name})}">
                    <input type="submit" value="add"/>
                </form>
            </div>
        </div>
    </body>
</html>
