<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <title>Friends</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body class="friends">
                
        <div th:replace="fragments/header :: header"></div>
        <div th:if="${friendRequests != null}">
            <h1 class='friendrequeststitle' >Friend requests:</h1>
            <ul class='friendrequests'>
                <li th:each="friendrequest : ${friendRequests}">
                    <a class='namelink' th:href="@{/../profile/{name}(name=${friendrequest.sender.path})}">
                        <span th:text="${friendrequest.sender.name}"></span>
                    </a>
                    <div class='friendrequestbuttons'>
                        <form method="POST" th:action="@{/friends/accept/{name}
                            (name=${friendrequest.sender.name})}">
                            <input type="submit" value="add"/>
                        </form>
                        <form method="POST" th:action="@{/friends/reject/{name}
                            (name=${friendrequest.sender.name})}">
                            <input type="submit" value="ignore"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
        <form class='searchuser' method="POST" th:action="@{/friends}">
            <h2>Search user</h2>
            <input type="text" name="name"/>
            <input id="searchbutton" type="submit" value="search"/>
        </form>
        <p th:text="${notfound}">notfound</p>
        <div th:if="${searchresult != null}">
            <div class="searchresult">
                <a class='namelink' th:href="@{/profile/{searchresult.path}
                   (searchresult.path=${searchresult.path})}" 
                   th:text="${searchresult.name}">
                    searchresult
                </a>
            </div>
            <div class="searchresult">
                <form method="POST" th:action="@{/friends/add/{searchresult.name}
                   (searchresult.name=${searchresult.name})}">
                    <div th:if="${notAFriend}">
                        <input class='addfriendbutton' type="submit" value="add"/>
                    </div>
                    <div th:if="${!notAFriend}">
                        <input class='addfriendbutton' type="submit" value="already a friend" disabled=""/>
                    </div>
                </form>
            </div>
        </div>
        
        <div class='currentfriends' th:if="${friends != null}">
            <h1>Friends:</h1>
                <div th:each="friends : ${friends}">
                    <a class='namelink' th:href="@{/../profile/{name}(name=${friends.path})}">
                        <span th:text="${friends.name}"></span>
                    </a>
                    <form method="POST" th:action="@{/friends/remove/{name}
                        (name=${friends.name})}">
                        <input class='removefriendbutton' type="submit" value="remove"/>
                    </form>
                </div>
        </div>
    </body>
</html>
