<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <meta charset="UTF-8" />
        <title>Frontpage</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>
            <form id="createpost" method="POST" th:action="@{/frontpage}">
                <p>Write a post. Max length 250 characters</p>
                <textarea id="posttext" name="post" rows="4" cols="100" maxlength='250' wrap='hard' ></textarea>
                <input class="postsubmit" type="submit" value="Send"/>
            </form>
        </div>
        
        <div th:each="post : ${posts}">
            <div class="post">
                <div class="poster">
                    <span class="postname" th:text="${post.user.name}">user</span>
                    <span class="posttime" th:text="${#temporals.format(post.time, 'dd-MM-yyyy HH:mm')}">time</span>
                </div>
                <p class='postcontent' th:text="${post.post}">post</p>
                <div class="likes">
                    <p><span th:text="${#lists.size(post.likes)}">amount of likes</span> likes </p>
                    <form method="POST" th:action="@{/frontpage/like/{id}(id=${post.id})}">
                        <input id='likebutton' type="submit" value="Like"/>
                    </form>
                </div>
                <p id="comments">comments:</p>
            </div>
            <div th:each="comment,pStat : ${post.comments}" th:unless="${pStat.index > 9}">
                <div class="comment">
                    <div class='commentuser'>
                        <p id='' th:text="${comment.username}">user</p>
                        <p id='commenttime' th:text="${#temporals.format(comment.time, 'dd-MM-yyyy HH:mm')}">comment time</p>
                    </div>
                <p id='commentcontent' th:text="${comment.commentText}">comment</p>
                </div>
            </div>                       
            <form class='commentform' method="POST" th:action="@{/frontpage/comment/{postid}(postid=${post.id})}">        
                <textarea class="commenttextarea" name="postComment"></textarea>
                <input class='commentbutton' type="submit" value="Add comment"/>
            </form>
            <div class="line">
                
            </div>
        </div>
    </body>
</html>
