<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head lang="en">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <meta charset="UTF-8" />
        <title>Frontpage</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>
            <form method="POST" th:action="@{/frontpage}">
                <textarea class="" name="post"></textarea>
                <input type="submit" value="Add post"/>
            </form>
        </div>
        
        <div th:each="post : ${posts}">
            <span th:text="${post.user.name}">user</span>
            <span th:text="${#temporals.format(post.time, 'dd-MM-yyyy HH:mm')}">user</span>
            <p th:text="${post.post}">post</p>
            <p><span th:text="${#lists.size(post.likes)}">amount of likes</span> likes</p>
            <form method="POST" th:action="@{/frontpage/like/{id}(id=${post.id})}">
                <input type="submit" value="Like"/>
            </form>
            <div th:each="comment : ${post.comments}">
                <h4 th:text="${comment.username}">user</h4>
                <p th:text="${comment.commentText}">comment</p>
            </div>
            <form method="POST" th:action="@{/frontpage/comment/{postid}(postid=${post.id})}">
                <textarea class="" name="postComment"></textarea>
                <input type="submit" value="Add comment"/>
            </form>
        </div>
    </body>
</html>
