<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <title>Profile</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        
        <div>
            <span th:text="${person != null} ? ${person.name} :
                   'no such a profile'">name
            </span>
        </div>
        
        <div th:if="${profilepicture != null}" class="profilepicture">
            <img th:src="*{'data:image/png;base64,'+profilepicture}" alt="" />
        </div>
        <div th:if="${person != null and currentUser != null}">
            <div th:if="${person.name} == ${currentUser.name}">
                <form method="POST" th:action="@{/profile/{path}(path=${person.path})}" enctype="multipart/form-data">
                    <input type="file" name="file" id="file"/>
                    <input type="submit" value="Change profile picture"/>
                </form>
                <form method="POST" th:action="@{/profile/addskill/{path}(path=${person.path})}">
                    <h2>Add skill</h2>
                    <input type="text" name="skill"/>
                    <input type="submit" value="Add skill"/>
                </form>
            </div>
        </div>
        
        <div th:each="skill : ${skills}">
            <p th:text="${skill.skill}">skill</p>
        </div>
    </body>
</html>
